[class*="col-"], footer {
  line-height: 40px;
}

.container{
	margin:0;
	width:100%;
	background-color: #EEEE;
	min-height:100vh;
}

h1{
	margin-top: 0;
	padding-top: 5px;
}

/*Defining the style of both tab links*/

.tabsLinksDiv{
	text-align: center;
	border-bottom: 3px solid transparent;
}

header{
	background-color: white;
	border-bottom: 1px solid grey;
}

header a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

header a:hover{
	text-decoration: none;
	color: #bca858;
	font-weight: bold;
}

header a:focus{
	color: black;
	text-decoration: none;
}

/*Setting the size of the cats you can vote for*/

.catImage{
	line-height: 300px;
	text-align: center;
}

.catImage img{
	max-height: 300px;
	max-width: 100%;
	vertical-align: center;
}

#scores_div, #cats_container{
	text-align: center;
	margin-top: 15px;
}

/*lay out the score table*/

#global_scores{
	border: 1px solid white;
	margin: auto;
}

#global_scores td{
	padding: 5px;
	white-space: pre;
	border-bottom: 1px solid grey;
	width: 50%;
}

#global_scores p{
	font-size: 15px;
}

#global_scores span{
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
}

/*Make the table stripped*/

#global_scores tr:nth-child(odd) img {
	height : 150px;
	border: 3px solid #f2f2f2;
}

#global_scores tr:nth-child(even) img {
	height : 150px;
	border: 3px solid #d9d9d9;
}

#global_scores tr:nth-child(odd){
	background-color: #d9d9d9;
}

#global_scores tr:nth-child(even){
	background-color: #f2f2f2;
}

#global_scores img{
	max-height: 150px;
	max-width: 100%;
}

/*Align the stats on the left and the image on the center*/
.score_image_cell{
	text-align: center;
}

.score_stats_cell{
	text-align: right;
}

/*Reduce the size of some images on small devices*/

@media only screen and (max-width: 992px) {
	.catImage{
		line-height: 200px;
	}

	.catImage img{
		max-height: 200px;
	}

	#global_scores img{
		max-height: 100px;
	}
}