h1{
	text-align: center;
}

table{
	border-collapse: collapse;
	width:100%;
}

#cat1_image,#cat2_image{
	width:30%;
	height:200px;
	text-align: center;
}

.table_border{
	width:5%;
}

img{
	height:300px;
	overflow: hidden;
}

#versus{
	text-align: center;
	font-size: 50pt;
	width: 20%;
}

#cat1_score, #cat2_score{
	font-size: 30pt;
	text-align: center;
}